<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>About Us</h1>
  <p>NIKOLS a brand you can trust.</p>
  <nav>
    <a href="/">Home</a> | 
    <a href="/about">About</a> | 
    <a href="/contact">Contact Us</a>
  </nav>
</body>
</html>
