<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Thank You, <%= name %>!</h1>
  <p>Your message: "<%= message %>" has been received. We will get back to you soon!</p>
  <nav>
    <a href="/">Home</a> | 
    <a href="/about">About</a> | 
    <a href="/contact">Contact Us</a>
  </nav>
</body>
</html>
